@font-face {
    font-family: "04b_03";
    src: url(./fonts/04B_03__.TTF);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
    padding-top: 1.5rem;
    font-family: system-ui, Helvetica, Arial, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    margin-inline: auto;
}

.header, .container {
    border: 12px ridge gray;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgb(87, 87, 87);
}

.banderas-restantes, .tiempo {
    padding-inline: 2px;
    background-color: #212121;
    font-size: 36px;
    color: #f22;
}

.boton-reset, .casilla {
    width: 42px;
    height: auto;
    aspect-ratio: 1;
    background: url(./src/sprite.webp) no-repeat;
    background-size: 378px;
    cursor: pointer;
}

.boton-reset {
    background-position: -294px -42px;
    border: none;
    border-radius: 0;
}

.container {
    width: fit-content;
    margin-inline: auto;
    display: grid;
    place-content: center;
    text-align: center;
}

.game-over {
    background-position: -252px -42px;
}

.game-win {
    background-position: -336px -42px;
}

.casilla {
    background-position: -42px -42px;
}

.casilla-abierta {
    background-position: 0 -42px;
}

.bandera {
    background-position: -84px -42px;
}

.bomba-activa {
    background-position: -168px -42px;
}

.bomba-incorrecta {
    background-position: -210px -42px;
}

.bomba {
    background-position: -126px -42px;
}

.bombas1 {
    background-position: 0 0;
}

.bombas2 {
    background-position: -42px 0;
}

.bombas3 {
    background-position: -84px 0;
}

.bombas4 {
    background-position: -126px 0;
}

.bombas5 {
    background-position: -168px 0;
}

.bombas6 {
    background-position: -210px 0;
}

.bombas7 {
    background-position: -252px 0;
}

.bombas8 {
    background-position: -294px 0;
}

.seleccion-casillas {
    display: flex;
    gap: .75rem;
    padding-bottom: 1rem;
    margin-top: .5rem;

    & button {
        padding: .35rem .65rem;
        border: 4px outset gray;
        font-family: "04b_03";
        font-size: 1.5rem;
    }

    & button:hover {
        cursor: pointer;
    }
}
