* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
    padding-top: 4rem;
    font-family: system-ui, Helvetica, Arial, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    margin-inline: auto;
}

.header, .container {
    border: 12px ridge gray;
}

.header {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(87, 87, 87);
}

.container {
    width: fit-content;
    margin-inline: auto;
    display: grid;
    place-content: center;
    text-align: center;
}

button, .casilla {
    width: 42px;
    height: auto;
    aspect-ratio: 1;
    background: url(./img/sprite.webp) no-repeat;
    background-size: 378px;
    cursor: pointer;
}

button {
    background-position: -294px -42px;
    border: none;
    border-radius: 0;
}

.game-over {
    background-position: -252px -42px;
}

.game-win {
    background-position: -336px -42px;
}

.casilla {
    background-position: -42px -42px;
}

.casilla-abierta {
    background-position: 0 -42px;
}

.bandera {
    background-position: -84px -42px;
}

.bomba-activa {
    background-position: -168px -42px;
}

.bomba-incorrecta {
    background-position: -210px -42px;
}

.bomba {
    background-position: -126px -42px;
}

.bombas1 {
    background-position: 0 0;
}

.bombas2 {
    background-position: -42px 0;
}

.bombas3 {
    background-position: -84px 0;
}

.bombas4 {
    background-position: -126px 0;
}

.bombas5 {
    background-position: -168px 0;
}

.bombas6 {
    background-position: -210px 0;
}

.bombas7 {
    background-position: -252px 0;
}

.bombas8 {
    background-position: -294px 0;
}
